// FOOTER
.footer {
    background-color: $color-secondary;
    padding: rem(80);

    grid-column: full-start / full-end;

    @include respond($bp-600) { // max-width < 600px
        padding: rem(40);
    }
}

.nav {
    list-style: none;

    // display: flex;
    // gap: rem(20);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(150), 1fr));
    // same size regardless of height
    grid-template-rows: 1fr;
    // implicit rows
    grid-auto-rows: 1fr;
    gap: rem(20);
    // align-items: center; // grid items align

    &__link:link,
    &__link:visited {
        height: 100%; // 100% of cell item
        font-size: rem(14);
        color: $color-white;
        text-decoration: none;
        font-family: $font-display;
        text-transform: uppercase;
        text-align: center;
        padding: rem(15);
        display: block;
        transition: all .2s;
    }

    &__link:hover,
    &__link:active {
        background-color: rgba($color-white, .05);
        transform: translateY(rem(-3));
    }
}

.copyright {
    font-size: rem(14);
    color: $color-white;
    margin: 0 auto;
    margin-top: rem(60);
    text-align: center;
    width: 70%;
}