/* BREAKPOINTS

$breakpoint argument choices:
max-width
000 - 500px:    $bp-500
500 - 600px:    $bp-500
600 - 900px:    $bp-900
900 - 1200px:   $bp-1200
[1200 - 1800]:   normal styles

min-width
1800px + :      $bp-1800


NOTES
more accessible to use em for when a user set a browser font size
- rem and em not defined by root size but browser default 16px
- ems are best option

1em = 16px
600px = 600/16 = 37.5em

ORDER: Base + typography > general layout + grid > page layout > component
*/
/*
    @include respond($bp-1800) { // min-width > 1800
        font-size: 75%; //1rem = 12px, 12/16 = 75%
    }

    @include respond($bp-1200) { // max-width < 1200
        font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
    }
*/
/* CUSTOM PROPERTY / CSS Variables */
/* SASS VARIABLES */
/* KEYFRAMES */
@-webkit-keyframes pulsate-1 {
  /* browser performance best with only 2 different properties max */
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-1 {
  /* browser performance best with only 2 different properties max */
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes pulsate-2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulsate-2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes moveInbtt {
  /* browser performance best with only 2 different properties max */
  0% {
    -webkit-transform: translateX(15rem);
            transform: translateX(15rem);
  }
  80% {
    /* transform: translateX(0px); */
  }
  100% {
    /* default final state */
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInbtt {
  /* browser performance best with only 2 different properties max */
  0% {
    -webkit-transform: translateX(15rem);
            transform: translateX(15rem);
  }
  80% {
    /* transform: translateX(0px); */
  }
  100% {
    /* default final state */
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

/* universal selector */
/* all elements + all pseudo elements */
*,
*::after,
*::before {
  /* remove all the default margins and paddings */
  margin: 0;
  padding: 0;
  /* inherit from html and apply everywhere  */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  /* borders and paddings removed from width and height  */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* root font size */
  /* 1rem = 10px */
  /* font-size: 10px; */
  /* use % better for users accessibility */
  /* 10px we want this/16px default = 0,625 * 100 = 62.5% */
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6;
}

a:link:focus, a:link:focus::before, a:link:focus::after,
a:visited:focus,
a:visited:focus::before,
a:visited:focus::after,
button:focus,
button:focus::before,
button:focus::after,
.btn:focus,
.btn:focus::before,
.btn:focus::after {
  outline: solid #1c7781;
}

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 4.5rem;
  color: #fff;
  line-height: 1;
  margin: 0;
  text-shadow: 0.2rem 0.2rem 0.5rem black;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}

.heading-2--light {
  color: #f9f7f6;
}

.heading-2--dark {
  color: #28abb9;
}

.heading-3 {
  font-size: 1.6rem;
  color: #28abb9;
  text-transform: uppercase;
}

.heading-4 {
  font-size: 1.9rem;
}

.heading-4--light {
  color: #f9f7f6;
}

.heading-4--dark {
  color: #28abb9;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-xl {
  margin-bottom: 8rem;
}

/* scroll to top btn, hide by default */
.btt {
  position: relative;
  z-index: 20;
  grid-column: center-end / -1;
}

.btt__link:link:focus, .btt__link:visited:focus {
  outline: none;
}

.btt__sticky,
.btt__sticky:link,
.btt__sticky:visited {
  opacity: .5;
  bottom: 5vw;
  right: 5vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.5);
  line-height: 0;
  cursor: pointer;
  -webkit-animation: moveInbtt 2s ease;
          animation: moveInbtt 2s ease;
  text-decoration: none;
  color: #000;
}

.btt__sticky:hover {
  opacity: 1;
  color: #28abb9;
  background-color: rgba(45, 97, 135, 0.3);
  border: 0.1rem solid #28abb9;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.btt__icon {
  display: none;
}

.btt__sticky .btt__icon {
  font-size: 3rem;
  display: inline-block;
}

.btn {
  background-color: #28abb9;
  color: #fff;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  padding-bottom: 1.5rem;
  cursor: pointer;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.btn:hover {
  background-color: #1c7781;
}

@supports ((display: -ms-grid) or (display: grid)) {
  .error {
    display: none;
  }
}

.error {
  position: fixed;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  font-size: 5rem;
  text-align: center;
  padding: 10%;
}

.dorms {
  margin: 15rem 0;
  grid-column: center-start / center-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem;
}

@media only screen and (max-width: 43.75em) {
  .dorms {
    margin: 7.5rem 0;
  }
}

@media only screen and (max-width: 31.25em) {
  .dorms {
    grid-column: full-start / full-end;
    margin: 7.5rem 3rem;
  }
}

.dorm {
  background-color: #f9f7f6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 3.5rem;
}

.dorm__img {
  width: 100%;
  z-index: 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.dorm__like {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  grid-column: 2 / -1;
  -ms-grid-column-align: end;
      justify-self: end;
  fill: #28abb9;
  height: 2.5rem;
  width: 2.5rem;
  margin: 1rem;
  z-index: 10;
}

.dorm__name {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-align-self: end;
      -ms-flex-item-align: end;
              -ms-grid-row-align: end;
          align-self: end;
  width: 80%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.25rem;
  background-color: #2d6187;
  color: #fff;
  font-weight: 400;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  z-index: 10;
}

.dorm__location, .dorm__rooms {
  margin-top: 2.5rem;
}

.dorm__location, .dorm__rooms, .dorm__area, .dorm__price {
  font-size: 1.5rem;
  margin-left: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.dorm__location svg, .dorm__rooms svg, .dorm__area svg, .dorm__price svg {
  fill: #28abb9;
  height: 2rem;
  width: 2rem;
}

.dorm__btn {
  grid-column: 1 / -1;
}

.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
}

@media only screen and (max-width: 43.75em) {
  .features {
    margin: 7.5rem 0;
  }
}

@media only screen and (max-width: 31.25em) {
  .features {
    grid-column: full-start / full-end;
    margin: 7.5rem 3rem;
  }
}

.feature {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.feature__icon {
  fill: #28abb9;
  height: 4.5rem;
  width: 4.5rem;
  -webkit-transform: translateY(-1rem);
      -ms-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

.feature__text {
  font-size: 1.7rem;
}

.footer {
  background-color: #2d6187;
  padding: 8rem;
  grid-column: full-start / full-end;
}

@media only screen and (max-width: 37.5em) {
  .footer {
    padding: 4rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .footer {
    padding: 3rem;
  }
}

.nav {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  gap: 2rem;
}

.nav__link:link, .nav__link:visited {
  height: 100%;
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
  display: block;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.nav__link:hover, .nav__link:active {
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-transform: translateY(-0.3rem);
      -ms-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.copyright {
  font-size: 1.4rem;
  color: #fff;
  margin: 0 auto;
  margin-top: 6rem;
  text-align: center;
  width: 70%;
}

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start / full-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (5vw)[7];
      grid-template-rows: repeat(7, 5vw);
  gap: 1.5rem;
  padding: 1.5rem;
}

@media only screen and (max-width: 31.25em) {
  .gallery {
    padding: 3rem;
  }
}

.gallery__item--1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.gallery__item--2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / span 3;
}

.gallery__item--3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6 / span 1;
}

.gallery__item--4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  grid-column: 7 / -1;
}

.gallery__item--5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / span 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.gallery__item--6 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / span 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / span 2;
}

.gallery__item--7 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / span 1;
}

.gallery__item--8 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / span 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / span 2;
}

.gallery__item--9 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / span 3;
  grid-column: 8 / -1;
}

.gallery__item--10 {
  grid-row: 6 / -1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
}

.gallery__item--11 {
  grid-row: 6 / -1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

.gallery__item--12 {
  grid-row: 6 / -1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / span 1;
}

.gallery__item--13 {
  grid-row: 5 / -1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / span 3;
}

.gallery__item--14 {
  grid-row: 6 / -1;
  grid-column: 8 / -1;
}

.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.header {
  background-color: #28abb9;
  grid-column: full-start / -1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7))), url(../img/hero3.jpg);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7)), url(../img/hero3.jpg);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7)), url(../img/hero3.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url(../img/hero3.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 0 30%;
  background-attachment: fixed;
  padding: 8rem 0;
  padding-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr min-content minmax(6rem, min-content) 1fr;
      grid-template-rows: 1fr -webkit-min-content minmax(6rem, -webkit-min-content) 1fr;
      grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  -ms-grid-columns: [full-start] minmax(6rem, 1fr) [center-start] ([col-start] minmax(min-content, 14rem) [col-end])[8] [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  row-gap: 1.5rem;
}

@media only screen and (max-width: 37.5em) {
  .header {
    padding: 5rem 0;
  }
}

.header > * {
  grid-column: center-start / center-end;
}

@media only screen and (max-width: 31.25em) {
  .header > * {
    grid-column: full-start / full-end;
    margin: 0 2rem;
  }
}

.header__heading-3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  text-shadow: 0.1rem 0.1rem 0.2rem black;
}

.header__btn:link, .header__btn:visited {
  -webkit-align-self: start;
      -ms-flex-item-align: start;
              -ms-grid-row-align: start;
          align-self: start;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  text-decoration: none;
  font-weight: initial;
  line-height: initial;
}

.header__seenon-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content 1fr;
      grid-template-columns: 1fr -webkit-max-content 1fr;
      grid-template-columns: 1fr max-content 1fr;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  font-size: 1.6rem;
  color: #aaa;
}

.header__seenon-text::before, .header__seenon-text::after {
  content: "";
  height: 0.1rem;
  display: block;
  background-color: currentColor;
}

.header__seenon-logos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
}

.header__seenon-logos img {
  max-height: 2.5rem;
  max-width: 100%;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

@media only screen and (max-width: 37.5em) {
  .header__seenon-logos img {
    max-width: 125%;
  }
}

.navbar {
  background-color: #28abb9;
  grid-column: full-start / -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  border-bottom: 0.5rem solid #2d6187;
  font-size: 62.5%;
}

.navbar__link:link, .navbar__link:visited {
  margin-left: 5.5rem;
}

@media only screen and (max-width: 31.25em) {
  .navbar__link:link, .navbar__link:visited {
    margin-left: 1rem;
  }
}

.navbar__link:link:hover, .navbar__link:visited:hover {
  -webkit-animation: pulsate-1 2s infinite;
          animation: pulsate-1 2s infinite;
}

.navbar__link:link:focus, .navbar__link:visited:focus {
  outline: none;
  -webkit-animation: pulsate-1 2s infinite;
          animation: pulsate-1 2s infinite;
}

.navbar__logo {
  max-width: 50%;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.menu-nav {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  cursor: pointer;
}

.menu-nav__btn {
  border: none;
  -webkit-border-radius: none;
          border-radius: none;
  background-color: #fff;
  height: 0.2rem;
  width: 4.5rem;
  margin-right: 5.5rem;
  cursor: pointer;
}

@media only screen and (max-width: 31.25em) {
  .menu-nav__btn {
    margin-right: 1rem;
  }
}

.menu-nav__btn::before, .menu-nav__btn::after {
  background-color: #fff;
  height: 0.2rem;
  width: 4.5rem;
  cursor: pointer;
  content: "";
  display: block;
}

.menu-nav__btn::before {
  -webkit-transform: translateY(-1.1rem);
      -ms-transform: translateY(-1.1rem);
          transform: translateY(-1.1rem);
}

.menu-nav__btn::after {
  -webkit-transform: translateY(0.9rem);
      -ms-transform: translateY(0.9rem);
          transform: translateY(0.9rem);
}

.story__pictures {
  background-color: #28abb9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(40, 171, 185, 0.5))), url(../img/background.jpg);
  background-image: -webkit-linear-gradient(rgba(40, 171, 185, 0.5)), url(../img/background.jpg);
  background-image: -o-linear-gradient(rgba(40, 171, 185, 0.5)), url(../img/background.jpg);
  background-image: linear-gradient(rgba(40, 171, 185, 0.5)), url(../img/background.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  grid-column: full-start / col-end 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 50em) {
  .story__pictures {
    grid-column: full-start / full-end;
    padding: 6rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .story__pictures {
    padding: 3rem;
  }
}

.story__img--1 {
  width: 100%;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2 / 6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
}

@media only screen and (max-width: 50em) {
  .story__img--1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    grid-row: 1 / -1;
  }
}

.story__img--2 {
  width: 115%;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  z-index: 10;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / 6;
  grid-column: 4 / -1;
}

@media only screen and (max-width: 50em) {
  .story__img--2 {
    grid-row: 1 / -1;
    width: 100%;
  }
}

.story__content {
  background-color: #f9f7f6;
  padding: 6rem 8vw;
  grid-column: col-start 5 / full-end;
  /* FLEXBOX SOLUTION
        display: flex;
        flex-direction: column; // change axis
        justify-content: center; // center content
        align-items: flex-start; // align left
        */
  display: -ms-grid;
  display: grid;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  justify-items: start;
}

@media only screen and (max-width: 50em) {
  .story__content {
    grid-column: full-start / full-end;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
}

@media only screen and (max-width: 31.25em) {
  .story__content {
    padding: 6rem 5vw;
  }
}

.story__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem;
}

@font-face {
  font-family: "linea-arrows-10";
  src: url("fonts/linea-arrows-10.eot");
  src: url("fonts/linea-arrows-10.eot?#iefix") format("embedded-opentype"), url("fonts/linea-arrows-10.woff") format("woff"), url("fonts/linea-arrows-10.ttf") format("truetype"), url("fonts/linea-arrows-10.svg#linea-arrows-10") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "linea-arrows-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="arrow-"]:before,
[class*=" arrow-"]:before {
  font-family: "linea-arrows-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.arrow-arrows-anticlockwise:before {
  content: "\e000";
}

.arrow-arrows-anticlockwise-dashed:before {
  content: "\e001";
}

.arrow-arrows-button-down:before {
  content: "\e002";
}

.arrow-arrows-button-off:before {
  content: "\e003";
}

.arrow-arrows-button-on:before {
  content: "\e004";
}

.arrow-arrows-button-up:before {
  content: "\e005";
}

.arrow-arrows-check:before {
  content: "\e006";
}

.arrow-arrows-circle-check:before {
  content: "\e007";
}

.arrow-arrows-circle-down:before {
  content: "\e008";
}

.arrow-arrows-circle-downleft:before {
  content: "\e009";
}

.arrow-arrows-circle-downright:before {
  content: "\e00a";
}

.arrow-arrows-circle-left:before {
  content: "\e00b";
}

.arrow-arrows-circle-minus:before {
  content: "\e00c";
}

.arrow-arrows-circle-plus:before {
  content: "\e00d";
}

.arrow-arrows-circle-remove:before {
  content: "\e00e";
}

.arrow-arrows-circle-right:before {
  content: "\e00f";
}

.arrow-arrows-circle-up:before {
  content: "\e010";
}

.arrow-arrows-circle-upleft:before {
  content: "\e011";
}

.arrow-arrows-circle-upright:before {
  content: "\e012";
}

.arrow-arrows-clockwise:before {
  content: "\e013";
}

.arrow-arrows-clockwise-dashed:before {
  content: "\e014";
}

.arrow-arrows-compress:before {
  content: "\e015";
}

.arrow-arrows-deny:before {
  content: "\e016";
}

.arrow-arrows-diagonal:before {
  content: "\e017";
}

.arrow-arrows-diagonal2:before {
  content: "\e018";
}

.arrow-arrows-down:before {
  content: "\e019";
}

.arrow-arrows-down-double:before {
  content: "\e01a";
}

.arrow-arrows-downleft:before {
  content: "\e01b";
}

.arrow-arrows-downright:before {
  content: "\e01c";
}

.arrow-arrows-drag-down:before {
  content: "\e01d";
}

.arrow-arrows-drag-down-dashed:before {
  content: "\e01e";
}

.arrow-arrows-drag-horiz:before {
  content: "\e01f";
}

.arrow-arrows-drag-left:before {
  content: "\e020";
}

.arrow-arrows-drag-left-dashed:before {
  content: "\e021";
}

.arrow-arrows-drag-right:before {
  content: "\e022";
}

.arrow-arrows-drag-right-dashed:before {
  content: "\e023";
}

.arrow-arrows-drag-up:before {
  content: "\e024";
}

.arrow-arrows-drag-up-dashed:before {
  content: "\e025";
}

.arrow-arrows-drag-vert:before {
  content: "\e026";
}

.arrow-arrows-exclamation:before {
  content: "\e027";
}

.arrow-arrows-expand:before {
  content: "\e028";
}

.arrow-arrows-expand-diagonal1:before {
  content: "\e029";
}

.arrow-arrows-expand-horizontal1:before {
  content: "\e02a";
}

.arrow-arrows-expand-vertical1:before {
  content: "\e02b";
}

.arrow-arrows-fit-horizontal:before {
  content: "\e02c";
}

.arrow-arrows-fit-vertical:before {
  content: "\e02d";
}

.arrow-arrows-glide:before {
  content: "\e02e";
}

.arrow-arrows-glide-horizontal:before {
  content: "\e02f";
}

.arrow-arrows-glide-vertical:before {
  content: "\e030";
}

.arrow-arrows-hamburger1:before {
  content: "\e031";
}

.arrow-arrows-hamburger-2:before {
  content: "\e032";
}

.arrow-arrows-horizontal:before {
  content: "\e033";
}

.arrow-arrows-info:before {
  content: "\e034";
}

.arrow-arrows-keyboard-alt:before {
  content: "\e035";
}

.arrow-arrows-keyboard-cmd:before {
  content: "\e036";
}

.arrow-arrows-keyboard-delete:before {
  content: "\e037";
}

.arrow-arrows-keyboard-down:before {
  content: "\e038";
}

.arrow-arrows-keyboard-left:before {
  content: "\e039";
}

.arrow-arrows-keyboard-return:before {
  content: "\e03a";
}

.arrow-arrows-keyboard-right:before {
  content: "\e03b";
}

.arrow-arrows-keyboard-shift:before {
  content: "\e03c";
}

.arrow-arrows-keyboard-tab:before {
  content: "\e03d";
}

.arrow-arrows-keyboard-up:before {
  content: "\e03e";
}

.arrow-arrows-left:before {
  content: "\e03f";
}

.arrow-arrows-left-double-32:before {
  content: "\e040";
}

.arrow-arrows-minus:before {
  content: "\e041";
}

.arrow-arrows-move:before {
  content: "\e042";
}

.arrow-arrows-move2:before {
  content: "\e043";
}

.arrow-arrows-move-bottom:before {
  content: "\e044";
}

.arrow-arrows-move-left:before {
  content: "\e045";
}

.arrow-arrows-move-right:before {
  content: "\e046";
}

.arrow-arrows-move-top:before {
  content: "\e047";
}

.arrow-arrows-plus:before {
  content: "\e048";
}

.arrow-arrows-question:before {
  content: "\e049";
}

.arrow-arrows-remove:before {
  content: "\e04a";
}

.arrow-arrows-right:before {
  content: "\e04b";
}

.arrow-arrows-right-double:before {
  content: "\e04c";
}

.arrow-arrows-rotate:before {
  content: "\e04d";
}

.arrow-arrows-rotate-anti:before {
  content: "\e04e";
}

.arrow-arrows-rotate-anti-dashed:before {
  content: "\e04f";
}

.arrow-arrows-rotate-dashed:before {
  content: "\e050";
}

.arrow-arrows-shrink:before {
  content: "\e051";
}

.arrow-arrows-shrink-diagonal1:before {
  content: "\e052";
}

.arrow-arrows-shrink-diagonal2:before {
  content: "\e053";
}

.arrow-arrows-shrink-horizonal2:before {
  content: "\e054";
}

.arrow-arrows-shrink-horizontal1:before {
  content: "\e055";
}

.arrow-arrows-shrink-vertical1:before {
  content: "\e056";
}

.arrow-arrows-shrink-vertical2:before {
  content: "\e057";
}

.arrow-arrows-sign-down:before {
  content: "\e058";
}

.arrow-arrows-sign-left:before {
  content: "\e059";
}

.arrow-arrows-sign-right:before {
  content: "\e05a";
}

.arrow-arrows-sign-up:before {
  content: "\e05b";
}

.arrow-arrows-slide-down1:before {
  content: "\e05c";
}

.arrow-arrows-slide-down2:before {
  content: "\e05d";
}

.arrow-arrows-slide-left1:before {
  content: "\e05e";
}

.arrow-arrows-slide-left2:before {
  content: "\e05f";
}

.arrow-arrows-slide-right1:before {
  content: "\e060";
}

.arrow-arrows-slide-right2:before {
  content: "\e061";
}

.arrow-arrows-slide-up1:before {
  content: "\e062";
}

.arrow-arrows-slide-up2:before {
  content: "\e063";
}

.arrow-arrows-slim-down:before {
  content: "\e064";
}

.arrow-arrows-slim-down-dashed:before {
  content: "\e065";
}

.arrow-arrows-slim-left:before {
  content: "\e066";
}

.arrow-arrows-slim-left-dashed:before {
  content: "\e067";
}

.arrow-arrows-slim-right:before {
  content: "\e068";
}

.arrow-arrows-slim-right-dashed:before {
  content: "\e069";
}

.arrow-arrows-slim-up:before {
  content: "\e06a";
}

.arrow-arrows-slim-up-dashed:before {
  content: "\e06b";
}

.arrow-arrows-square-check:before {
  content: "\e06c";
}

.arrow-arrows-square-down:before {
  content: "\e06d";
}

.arrow-arrows-square-downleft:before {
  content: "\e06e";
}

.arrow-arrows-square-downright:before {
  content: "\e06f";
}

.arrow-arrows-square-left:before {
  content: "\e070";
}

.arrow-arrows-square-minus:before {
  content: "\e071";
}

.arrow-arrows-square-plus:before {
  content: "\e072";
}

.arrow-arrows-square-remove:before {
  content: "\e073";
}

.arrow-arrows-square-right:before {
  content: "\e074";
}

.arrow-arrows-square-up:before {
  content: "\e075";
}

.arrow-arrows-square-upleft:before {
  content: "\e076";
}

.arrow-arrows-square-upright:before {
  content: "\e077";
}

.arrow-arrows-squares:before {
  content: "\e078";
}

.arrow-arrows-stretch-diagonal1:before {
  content: "\e079";
}

.arrow-arrows-stretch-diagonal2:before {
  content: "\e07a";
}

.arrow-arrows-stretch-diagonal3:before {
  content: "\e07b";
}

.arrow-arrows-stretch-diagonal4:before {
  content: "\e07c";
}

.arrow-arrows-stretch-horizontal1:before {
  content: "\e07d";
}

.arrow-arrows-stretch-horizontal2:before {
  content: "\e07e";
}

.arrow-arrows-stretch-vertical1:before {
  content: "\e07f";
}

.arrow-arrows-stretch-vertical2:before {
  content: "\e080";
}

.arrow-arrows-switch-horizontal:before {
  content: "\e081";
}

.arrow-arrows-switch-vertical:before {
  content: "\e082";
}

.arrow-arrows-up:before {
  content: "\e083";
}

.arrow-arrows-up-double-33:before {
  content: "\e084";
}

.arrow-arrows-upleft:before {
  content: "\e085";
}

.arrow-arrows-upright:before {
  content: "\e086";
}

.arrow-arrows-vertical:before {
  content: "\e087";
}

@font-face {
  font-family: "linea-basic-10";
  src: url("fonts/linea-basic-10.eot");
  src: url("fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"), url("fonts/linea-basic-10.woff") format("woff"), url("fonts/linea-basic-10.ttf") format("truetype"), url("fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basic-accelerator:before {
  content: "a";
}

.icon-basic-alarm:before {
  content: "b";
}

.icon-basic-anchor:before {
  content: "c";
}

.icon-basic-anticlockwise:before {
  content: "d";
}

.icon-basic-archive:before {
  content: "e";
}

.icon-basic-archive-full:before {
  content: "f";
}

.icon-basic-ban:before {
  content: "g";
}

.icon-basic-battery-charge:before {
  content: "h";
}

.icon-basic-battery-empty:before {
  content: "i";
}

.icon-basic-battery-full:before {
  content: "j";
}

.icon-basic-battery-half:before {
  content: "k";
}

.icon-basic-bolt:before {
  content: "l";
}

.icon-basic-book:before {
  content: "m";
}

.icon-basic-book-pen:before {
  content: "n";
}

.icon-basic-book-pencil:before {
  content: "o";
}

.icon-basic-bookmark:before {
  content: "p";
}

.icon-basic-calculator:before {
  content: "q";
}

.icon-basic-calendar:before {
  content: "r";
}

.icon-basic-cards-diamonds:before {
  content: "s";
}

.icon-basic-cards-hearts:before {
  content: "t";
}

.icon-basic-case:before {
  content: "u";
}

.icon-basic-chronometer:before {
  content: "v";
}

.icon-basic-clessidre:before {
  content: "w";
}

.icon-basic-clock:before {
  content: "x";
}

.icon-basic-clockwise:before {
  content: "y";
}

.icon-basic-cloud:before {
  content: "z";
}

.icon-basic-clubs:before {
  content: "A";
}

.icon-basic-compass:before {
  content: "B";
}

.icon-basic-cup:before {
  content: "C";
}

.icon-basic-diamonds:before {
  content: "D";
}

.icon-basic-display:before {
  content: "E";
}

.icon-basic-download:before {
  content: "F";
}

.icon-basic-exclamation:before {
  content: "G";
}

.icon-basic-eye:before {
  content: "H";
}

.icon-basic-eye-closed:before {
  content: "I";
}

.icon-basic-female:before {
  content: "J";
}

.icon-basic-flag1:before {
  content: "K";
}

.icon-basic-flag2:before {
  content: "L";
}

.icon-basic-floppydisk:before {
  content: "M";
}

.icon-basic-folder:before {
  content: "N";
}

.icon-basic-folder-multiple:before {
  content: "O";
}

.icon-basic-gear:before {
  content: "P";
}

.icon-basic-geolocalize-01:before {
  content: "Q";
}

.icon-basic-geolocalize-05:before {
  content: "R";
}

.icon-basic-globe:before {
  content: "S";
}

.icon-basic-gunsight:before {
  content: "T";
}

.icon-basic-hammer:before {
  content: "U";
}

.icon-basic-headset:before {
  content: "V";
}

.icon-basic-heart:before {
  content: "W";
}

.icon-basic-heart-broken:before {
  content: "X";
}

.icon-basic-helm:before {
  content: "Y";
}

.icon-basic-home:before {
  content: "Z";
}

.icon-basic-info:before {
  content: "0";
}

.icon-basic-ipod:before {
  content: "1";
}

.icon-basic-joypad:before {
  content: "2";
}

.icon-basic-key:before {
  content: "3";
}

.icon-basic-keyboard:before {
  content: "4";
}

.icon-basic-laptop:before {
  content: "5";
}

.icon-basic-life-buoy:before {
  content: "6";
}

.icon-basic-lightbulb:before {
  content: "7";
}

.icon-basic-link:before {
  content: "8";
}

.icon-basic-lock:before {
  content: "9";
}

.icon-basic-lock-open:before {
  content: "!";
}

.icon-basic-magic-mouse:before {
  content: "\"";
}

.icon-basic-magnifier:before {
  content: "#";
}

.icon-basic-magnifier-minus:before {
  content: "$";
}

.icon-basic-magnifier-plus:before {
  content: "%";
}

.icon-basic-mail:before {
  content: "&";
}

.icon-basic-mail-multiple:before {
  content: "'";
}

.icon-basic-mail-open:before {
  content: "(";
}

.icon-basic-mail-open-text:before {
  content: ")";
}

.icon-basic-male:before {
  content: "*";
}

.icon-basic-map:before {
  content: "+";
}

.icon-basic-message:before {
  content: ",";
}

.icon-basic-message-multiple:before {
  content: "-";
}

.icon-basic-message-txt:before {
  content: ".";
}

.icon-basic-mixer2:before {
  content: "/";
}

.icon-basic-mouse:before {
  content: ":";
}

.icon-basic-notebook:before {
  content: ";";
}

.icon-basic-notebook-pen:before {
  content: "<";
}

.icon-basic-notebook-pencil:before {
  content: "=";
}

.icon-basic-paperplane:before {
  content: ">";
}

.icon-basic-pencil-ruler:before {
  content: "?";
}

.icon-basic-pencil-ruler-pen:before {
  content: "@";
}

.icon-basic-photo:before {
  content: "[";
}

.icon-basic-picture:before {
  content: "]";
}

.icon-basic-picture-multiple:before {
  content: "^";
}

.icon-basic-pin1:before {
  content: "_";
}

.icon-basic-pin2:before {
  content: "`";
}

.icon-basic-postcard:before {
  content: "{";
}

.icon-basic-postcard-multiple:before {
  content: "|";
}

.icon-basic-printer:before {
  content: "}";
}

.icon-basic-question:before {
  content: "~";
}

.icon-basic-rss:before {
  content: "\\";
}

.icon-basic-server:before {
  content: "\e000";
}

.icon-basic-server2:before {
  content: "\e001";
}

.icon-basic-server-cloud:before {
  content: "\e002";
}

.icon-basic-server-download:before {
  content: "\e003";
}

.icon-basic-server-upload:before {
  content: "\e004";
}

.icon-basic-settings:before {
  content: "\e005";
}

.icon-basic-share:before {
  content: "\e006";
}

.icon-basic-sheet:before {
  content: "\e007";
}

.icon-basic-sheet-multiple:before {
  content: "\e008";
}

.icon-basic-sheet-pen:before {
  content: "\e009";
}

.icon-basic-sheet-pencil:before {
  content: "\e00a";
}

.icon-basic-sheet-txt:before {
  content: "\e00b";
}

.icon-basic-signs:before {
  content: "\e00c";
}

.icon-basic-smartphone:before {
  content: "\e00d";
}

.icon-basic-spades:before {
  content: "\e00e";
}

.icon-basic-spread:before {
  content: "\e00f";
}

.icon-basic-spread-bookmark:before {
  content: "\e010";
}

.icon-basic-spread-text:before {
  content: "\e011";
}

.icon-basic-spread-text-bookmark:before {
  content: "\e012";
}

.icon-basic-star:before {
  content: "\e013";
}

.icon-basic-tablet:before {
  content: "\e014";
}

.icon-basic-target:before {
  content: "\e015";
}

.icon-basic-todo:before {
  content: "\e016";
}

.icon-basic-todo-pen:before {
  content: "\e017";
}

.icon-basic-todo-pencil:before {
  content: "\e018";
}

.icon-basic-todo-txt:before {
  content: "\e019";
}

.icon-basic-todolist-pen:before {
  content: "\e01a";
}

.icon-basic-todolist-pencil:before {
  content: "\e01b";
}

.icon-basic-trashcan:before {
  content: "\e01c";
}

.icon-basic-trashcan-full:before {
  content: "\e01d";
}

.icon-basic-trashcan-refresh:before {
  content: "\e01e";
}

.icon-basic-trashcan-remove:before {
  content: "\e01f";
}

.icon-basic-upload:before {
  content: "\e020";
}

.icon-basic-usb:before {
  content: "\e021";
}

.icon-basic-video:before {
  content: "\e022";
}

.icon-basic-watch:before {
  content: "\e023";
}

.icon-basic-webpage:before {
  content: "\e024";
}

.icon-basic-webpage-img-txt:before {
  content: "\e025";
}

.icon-basic-webpage-multiple:before {
  content: "\e026";
}

.icon-basic-webpage-txt:before {
  content: "\e027";
}

.icon-basic-world:before {
  content: "\e028";
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 6rem 80vh min-content 40vw (min-content)[3];
      grid-template-rows: 6rem 80vh -webkit-min-content 40vw repeat(3, -webkit-min-content);
      grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
  -ms-grid-columns: [full-start] minmax(6rem, 1fr) [center-start] ([col-start] minmax(min-content, 14rem) [col-end])[8] [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

@media only screen and (max-width: 50em) {
  .container {
    -ms-grid-rows: 6rem calc(100vh - 6rem);
        grid-template-rows: 6rem -webkit-calc(100vh - 6rem);
        grid-template-rows: 6rem calc(100vh - 6rem);
  }
}

@media only screen and (max-width: 31.25em) {
  .container {
    -ms-grid-rows: 6rem calc(100vh - 12rem);
        grid-template-rows: 6rem -webkit-calc(100vh - 12rem);
        grid-template-rows: 6rem calc(100vh - 12rem);
  }
}
/*# sourceMappingURL=main.css.map */