// Home specific styles
.container {
    display: grid;
    grid-template-rows: rem(60) 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [full-start] minmax(rem(60), 1fr) [center-start] repeat(8, [col-start] minmax(min-content, rem(140)) [col-end]) [center-end] minmax(rem(60), 1fr) [full-end];

    @include respond($bp-800) { // max-width < 800px
        grid-template-rows: rem(60) calc(100vh - 6rem);
    }

    @include respond($bp-500) { // max-width < 500px
        grid-template-rows: rem(60) calc(100vh - 12rem);
    }
}